@import '@angular/material/prebuilt-themes/indigo-pink.css';

html, body { 
  height: 100%; 
}

body { 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif; 
  background-color: #f5f5f5;
}

.full-width {
  width: 100%;
}

.spacer {
  flex: 1 1 auto;
}

.container-custom {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.mat-mdc-card {
  margin-bottom: 20px;
}
